
.conciertos-body{
    padding: 8vh 0;
    background-color: black;
    color:white;
    min-height: 100vh;
    height: fit-content;
    h2{
        width: 95%;
        max-width: 900px;
        margin: 40px auto;
    }
}
.lista-conciertos {
    
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
    .concierto{
        display: flex;
        margin-bottom: 2% ;
        gap: 3%;
        .fecha{
            font-weight: 100;
            width: 63px;
            font-size: .9rem;
        }
        .recinto{
            margin-left: 0;
            margin-right: auto;
        }
    }
}