
.docencia-body {
   
    width: fit-content;
    max-width: 900px;
    margin: 0 auto;
    padding: 8vh 3%;
    
    h1{
        margin: 3% 2%;
    }
    .doce-photoA{
        max-width: 60%;
        max-height: 60vh;
        object-fit: contain;
        padding-right: 1%;
        float: left;
        margin: 1%;
        display: inline;
    }
    p{
        font-size: 1.15rem;
        margin: 1%;
        text-align: justify;
        line-height: 1.5rem; 
    }
    .doce-photoB{
        width: 100%;
        padding: 0 8%;
        margin: 4% auto;
        
    }
}

@media screen and (max-width: 600px) { 

    .docencia-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 3% auto 3% 0;
        }
        img{
        float: none;
        max-width: 90%;
        }
    }
}