
.nav-bar{
    height: 7vh;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    background: none;
    z-index: 10;
    color: white;
    
    .logo {
        object-fit: contain;
        height: 4vh;  
    }
    a {
        height: fit-content;
        display: inline;
        width: fit-content;
        text-decoration: none;
        color: currentColor;
    }
    .nav-links {
        width: fit-content;
        gap: 10px;
        display: flex;
        align-items: center;
       
        
    }

}
