.nav-bar {
  height: 7vh;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  background: none;
  z-index: 10;
  color: white;
}

.nav-bar .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 4vh;
}

.nav-bar a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: currentColor;
}

.nav-bar .nav-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .dark a {
  color: black;
}

.home-body {
  min-height: 100vh;
  background-color: black;
}

header {
  width: 100%;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper {
  height: inherit;
  z-index: 0;
}

.slide-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.home-first {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.home-logo {
  width: 90%;
  max-width: 600px;
}

.bio-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  padding: 7vh 0;
}

.bio-body h1 {
  margin: 3% 2%;
}

.bio-body img {
  max-width: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 1%;
  float: left;
  margin: 1%;
}

.bio-body p {
  font-size: 1.15rem;
  margin: 1%;
  text-align: justify;
  line-height: 1.5rem;
}

.conciertos-body {
  padding-top: 7vh;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.conciertos-body h2 {
  margin: 4% 5%;
}

.lista-conciertos {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.lista-conciertos .concierto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2%;
  gap: 1%;
}

.lista-conciertos .concierto .fecha {
  width: 20%;
  font-weight: 100;
}

.lista-conciertos .concierto .recinto {
  margin-left: 0;
  margin-right: auto;
}

.docencia-body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  padding-top: 7vh;
}

.docencia-body h1 {
  margin: 3% 2%;
}

.docencia-body .doce-photoA {
  max-height: 60vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 1%;
  float: left;
  margin: 1%;
  display: inline;
}

.docencia-body p {
  font-size: 1.15rem;
  margin: 1%;
  text-align: justify;
  line-height: 1.5rem;
}

.docencia-body .doce-photoB {
  width: 100%;
  padding: 0 8%;
  margin: 4% auto;
}

.musica-body {
  min-height: 100vh;
  padding-top: 7vh;
  background-color: black;
}

.galeria-body {
  min-height: 100vh;
  padding-top: 7vh;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  position: relative;
}

footer {
  color: white;
  position: absolute;
  width: 100%;
  padding: 1% 3%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .dark {
  color: black;
}

footer a {
  text-decoration: none;
  color: currentColor;
}
/*# sourceMappingURL=App.css.map */