@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-BoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Epilogue-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraBold.woff2") format("woff2"), url("../fonts/Epilogue-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-BlackItalic.woff2") format("woff2"), url("../fonts/Epilogue-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Black.woff2") format("woff2"), url("../fonts/Epilogue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraLight.woff2") format("woff2"), url("../fonts/Epilogue-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Medium.woff2") format("woff2"), url("../fonts/Epilogue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Italic.woff2") format("woff2"), url("../fonts/Epilogue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Regular.woff2") format("woff2"), url("../fonts/Epilogue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Light.woff2") format("woff2"), url("../fonts/Epilogue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Thin.woff2") format("woff2"), url("../fonts/Epilogue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ThinItalic.woff2") format("woff2"), url("../fonts/Epilogue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-MediumItalic.woff2") format("woff2"), url("../fonts/Epilogue-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-LightItalic.woff2") format("woff2"), url("../fonts/Epilogue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

.nav-bar {
  height: 7vh;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  background: none;
  z-index: 10;
  color: white;
}

.nav-bar .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 4vh;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

.nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin: 0 1%;
}

.nav-bar .nav-links a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.2rem;
  font-weight: 500;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  color: currentColor;
}

.nav-bar .dark a {
  color: black;
  text-shadow: none;
}

@media screen and (max-width: 600px) {
  .nav-links a {
    font-size: 1rem !important;
  }
}

.home-body {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}

header {
  width: 100%;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-first {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.home-logo {
  width: 90%;
  max-width: 800px;
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
}

.audio-player {
  width: 800px !important;
  max-width: 90%;
  margin-top: 2%;
  padding: .3rem;
  gap: 5px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  font-size: 1.2rem !important;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.audio-player img {
  height: 2rem !important;
}

.audio-player .audio-player-track-name {
  border-radius: 5px;
  background-color: rgba(198, 198, 198, 0.5);
  padding: 5px;
}

.swiper {
  height: inherit;
  z-index: 0;
}

.slide-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.home-info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4vh;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9.5vh;
  background-color: white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
}

.social a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a img {
  height: 65%;
  width: auto;
}

.prox-conciertos {
  background-color: white;
  padding: 2%;
  width: 50%;
}

.prox-conciertos .concierto-header {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.prox-conciertos .concierto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  max-width: 650px;
  margin: 1% auto;
  gap: 1%;
  margin-bottom: 1%;
}

.prox-conciertos .concierto .fecha {
  width: 15%;
  font-weight: 100;
}

.prox-conciertos .concierto .recinto {
  margin-left: 0;
  margin-right: auto;
}

.prox-conciertos .concierto .ciudad {
  font-weight: 300;
}

.prensa {
  background-color: white;
  width: 50%;
  padding: 1%;
}

.prensa h2 {
  line-height: 8vh;
}

.prensa a {
  margin: 3% 0;
  display: block;
}

@media (max-width: 600px) {
  .home-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-info div {
    width: 100%;
  }
}

.bio-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
  padding: 8vh 3%;
}

.bio-body h1 {
  margin: 3% 2%;
}

.bio-body img {
  max-width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 1%;
  float: left;
  margin: 1%;
}

.bio-body p {
  font-size: 1.15rem;
  margin: 2% 0;
  text-align: justify;
  line-height: 1.5rem;
}

@media screen and (max-width: 600px) {
  .bio-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bio-body h1 {
    margin: 3% auto 3% 0;
  }
  .bio-body img {
    float: none;
    max-width: 90%;
  }
}

.conciertos-body {
  padding-top: 7vh;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.conciertos-body h2 {
  margin: 4% 5%;
}

.lista-conciertos {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.lista-conciertos .concierto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2%;
  gap: 1%;
}

.lista-conciertos .concierto .fecha {
  width: 20%;
  font-weight: 100;
}

.lista-conciertos .concierto .recinto {
  margin-left: 0;
  margin-right: auto;
}

.docencia-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
  padding: 8vh 3%;
}

.docencia-body h1 {
  margin: 3% 2%;
}

.docencia-body .doce-photoA {
  max-width: 60%;
  max-height: 60vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 1%;
  float: left;
  margin: 1%;
  display: inline;
}

.docencia-body p {
  font-size: 1.15rem;
  margin: 1%;
  text-align: justify;
  line-height: 1.5rem;
}

.docencia-body .doce-photoB {
  width: 100%;
  padding: 0 8%;
  margin: 4% auto;
}

@media screen and (max-width: 600px) {
  .docencia-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .docencia-body h1 {
    margin: 3% auto 3% 0;
  }
  .docencia-body img {
    float: none;
    max-width: 90%;
  }
}

.musica-body {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 8vh 3%;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-panel {
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  max-width: 1000px;
}

.button-panel button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: none;
  color: currentColor;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.button-panel button.button-active {
  font-weight: 900;
}

.proyecto-body {
  width: 100%;
  max-width: 1000px;
}

.proyecto-header {
  margin: 0 auto;
  max-width: 1000px;
}

.proyecto-header h1 {
  margin: 2% 0;
}

.proyecto-header img {
  max-width: 60%;
  float: left;
  padding: 1%;
}

.proyecto-header p {
  text-align: justify;
  margin: 1.5% 0;
  line-height: 1.2rem;
}

.links-proyecto {
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 0;
  gap: 2%;
}

.links-proyecto a {
  height: inherit;
}

.links-proyecto a img {
  -webkit-filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(240deg) brightness(103%) contrast(100%);
          filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(240deg) brightness(103%) contrast(100%);
  -o-object-fit: contain;
     object-fit: contain;
  height: 80%;
}

.slider-proyecto {
  width: 90%;
  max-width: 1000px;
  height: 55vh;
  margin: 3% 0;
}

.slider-proyecto .swiper-slide {
  height: 100%;
  width: 100%;
}

.slider-proyecto .swiper-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.disco-proyecto {
  width: 80% !important;
  max-width: 600px;
  margin: 4% auto;
}

.disco-proyecto iframe {
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 600px) {
  .proyecto-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proyecto-header img {
    float: none;
  }
}

.galeria-body {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 8vh 0;
  background-color: black;
}

.imageGallery {
  width: 90%;
  max-width: 1000px;
  height: 55vh;
  margin: 3% 0;
}

.imageGallery .swiper-slide {
  height: 100%;
  width: 100%;
}

.imageGallery .swiper-slide img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.video-container {
  width: 90%;
  max-width: 700px;
  height: 35vh;
  margin: 0 auto 3% auto;
}

.video-container p {
  color: white;
  margin: 1%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  font-family: 'Epilogue';
  position: relative;
}

.App a {
  text-decoration: none;
  color: currentColor;
}

footer {
  color: white;
  position: absolute;
  width: 100%;
  height: 4vh;
  padding: 0 3%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

footer .dark {
  color: black;
}

footer a {
  text-decoration: none;
  color: currentColor;
}

@media screen and (max-width: 600px) {
  footer {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=App.css.map */