@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-BoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Epilogue-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraBold.woff2") format("woff2"), url("../fonts/Epilogue-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-BlackItalic.woff2") format("woff2"), url("../fonts/Epilogue-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Black.woff2") format("woff2"), url("../fonts/Epilogue-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ExtraLight.woff2") format("woff2"), url("../fonts/Epilogue-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Medium.woff2") format("woff2"), url("../fonts/Epilogue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Italic.woff2") format("woff2"), url("../fonts/Epilogue-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Regular.woff2") format("woff2"), url("../fonts/Epilogue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Light.woff2") format("woff2"), url("../fonts/Epilogue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-Thin.woff2") format("woff2"), url("../fonts/Epilogue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-ThinItalic.woff2") format("woff2"), url("../fonts/Epilogue-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-MediumItalic.woff2") format("woff2"), url("../fonts/Epilogue-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Epilogue-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Epilogue';
  src: url("../fonts/Epilogue-LightItalic.woff2") format("woff2"), url("../fonts/Epilogue-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

.nav-bar {
  height: 7vh;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  background: none;
  z-index: 10;
  color: white;
}

.nav-bar .logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 4vh;
}

.nav-bar a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: currentColor;
}

.nav-bar .nav-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .dark a {
  color: black;
}

.home-body {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
}

header {
  width: 100%;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-first {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.home-logo {
  width: 90%;
  max-width: 800px;
}

.audio-player {
  padding: .2rem;
  gap: 5px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: auto !important;
  font-size: 1.2rem !important;
  font-weight: 800;
  border: 1px solid;
}

.audio-player img {
  height: 2rem !important;
}

.swiper {
  height: inherit;
  z-index: 0;
}

.slide-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.home-info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4vh;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7vh;
  gap: 3%;
  padding: 4%;
}

.social a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social a img {
  height: 80%;
  width: auto;
}

.prox-conciertos {
  background-color: white;
  padding: 1%;
  width: 50%;
  border: 1px solid red;
}

.prox-conciertos h2 {
  margin: 3%;
}

.prox-conciertos .concierto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  gap: 1%;
  margin-bottom: 1%;
}

.prox-conciertos .concierto .fecha {
  width: 20%;
  font-weight: 100;
}

.prox-conciertos .concierto .recinto {
  margin-left: 0;
  margin-right: auto;
}

.prensa {
  background-color: white;
  width: 50%;
  padding: 1%;
  border: 1px solid red;
}

.prensa h2 {
  margin: 3%;
}

.prensa a {
  margin: 3% 0;
  display: block;
}

.bio-body {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  padding: 7vh 0;
}

.bio-body h1 {
  margin: 3% 2%;
}

.bio-body img {
  max-width: 50vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 1%;
  float: left;
  margin: 1%;
}

.bio-body p {
  font-size: 1.15rem;
  margin: 1%;
  text-align: justify;
  line-height: 1.5rem;
}

.conciertos-body {
  padding-top: 7vh;
  background-color: black;
  color: white;
  min-height: 100vh;
}

.conciertos-body h2 {
  margin: 4% 5%;
}

.lista-conciertos {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.lista-conciertos .concierto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 2%;
  gap: 1%;
}

.lista-conciertos .concierto .fecha {
  width: 20%;
  font-weight: 100;
}

.lista-conciertos .concierto .recinto {
  margin-left: 0;
  margin-right: auto;
}

.docencia-body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
  padding-top: 7vh;
}

.docencia-body h1 {
  margin: 3% 2%;
}

.docencia-body .doce-photoA {
  max-height: 60vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-right: 1%;
  float: left;
  margin: 1%;
  display: inline;
}

.docencia-body p {
  font-size: 1.15rem;
  margin: 1%;
  text-align: justify;
  line-height: 1.5rem;
}

.docencia-body .doce-photoB {
  width: 100%;
  padding: 0 8%;
  margin: 4% auto;
}

.musica-body {
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 7vh 3%;
  background-color: black;
  color: white;
}

.button-panel {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.button-panel button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: none;
  color: currentColor;
  border: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.button-panel button.button-active {
  font-weight: 900;
}

.proyecto-header {
  max-width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

.proyecto-header h1 {
  margin: 2% 0;
}

.proyecto-header img {
  max-width: 40%;
  float: left;
}

.links-proyecto {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 0;
  gap: 2%;
}

.links-proyecto img {
  -webkit-filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(240deg) brightness(103%) contrast(100%);
          filter: invert(100%) sepia(99%) saturate(18%) hue-rotate(240deg) brightness(103%) contrast(100%);
  -o-object-fit: contain;
     object-fit: contain;
  height: 80%;
}

.slider-proyecto {
  max-height: 50vh;
  max-width: 800px;
  margin: 3% 0;
}

.slider-proyecto .slide-photo {
  -o-object-fit: cover;
     object-fit: cover;
}

.disco-proyecto {
  margin: 4% auto;
}

.galeria-body {
  min-height: 100vh;
  padding-top: 7vh;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  font-family: 'Epilogue';
  position: relative;
}

.App a {
  text-decoration: none;
  color: currentColor;
}

footer {
  color: white;
  position: absolute;
  width: 100%;
  height: 4vh;
  padding: 0 3%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

footer .dark {
  color: black;
}

footer a {
  text-decoration: none;
  color: currentColor;
}
/*# sourceMappingURL=App.css.map */